/*
 * @Author: Conghao Wong
 * @Date: 2026-09-21 21:23:41
 * @LastEditors: Conghao Wong
 * @LastEditTime: 2026-09-22 12:16:00
 * @Github: https://cocoon2wong.github.io
 * Copyright 2026 Conghao Wong, All Rights Reserved.
 */

:root {
  --breadcrumb-color: #616A72;
  --breadcrumb-color-dark: #FFFFFF;
  --breadcrumb-hover-color: #FFFFFF;
  --breadcrumb-active-color: #616A72;
  --breadcrumb-active-color-dark: #FFFFFF;

  --breadcrumb-background-color: var(--second-nav-bg-color, #FaFaFc);
  --breadcrumb-hover-background-color: var(--hover-color, #0085A1);
  --breadcrumb-background-color-dark: var(--second-nav-bg-color-dark, #3D3D3D);
}

/* 面包屑作为通用按钮组，微调尾部内边距 */
.breadcrumb-container {
  padding-right: 12px;
}

.breadcrumb {
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumb-item {
  display: inline-flex;
  align-items: center;
  height: 100%;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.5rem;
}

.breadcrumb-item > a svg {
  vertical-align: middle;
  margin-right: 3px;
}

.breadcrumb-item.active {
  color: var(--breadcrumb-active-color);
  padding-right: 4px;
}

:root.dark-mode .breadcrumb-item.active,
.dark-mode .breadcrumb-item.active {
  color: var(--breadcrumb-active-color-dark);
}

/* 面包屑专用分隔符 */
.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: 0.5rem;
  color: var(--breadcrumb-color);
  content: var(--bs-breadcrumb-divider, ">");
}

.breadcrumb-item.active::before {
  padding-right: 16px;
}

/* Footer Breadcrumb 特化 */
.footer-nav.breadcrumb-container,
:root.dark-mode .footer-nav.breadcrumb-container,
.dark-mode .footer-nav.breadcrumb-container {
  background: transparent;
  box-shadow: none;
  font-size: 14px;
  padding-left: 0;
  margin-bottom: 10px;
  height: auto;
}

body:not(.page-bg-white) .footer-nav.breadcrumb-container {
  border-top: 1px solid var(--footer-border-color);
  padding-top: 10px;
}

body:not(.page-bg-white) .main-page-container {
  padding-bottom: 15px;
}

.footer-nav.breadcrumb-container::before,
:root.dark-mode .footer-nav.breadcrumb-container::before,
.dark-mode .footer-nav.breadcrumb-container::before {
  background: transparent;
}

.footer-nav .breadcrumb .breadcrumb-item:first-child a {
  margin-left: 0;
}

.footer-nav .breadcrumb-item svg {
  margin-right: 3px;
  vertical-align: -0.125em;
}
